{% extends 'base.html' %}

{% block title %}Lista de Aluguéis{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">Aluguéis Cadastrados</div>
    <div class="card-body">
        <ul class="list-group">
            {% for aluguel in alugueis %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ aluguel.casa.nome }}</strong> - {{ aluguel.mes_referencia }} - R$ {{ aluguel.valor_aluguel }}
                </div>
                <div class="d-flex align-items-center">
                    <span class="badge {% if aluguel.pago %}bg-success{% else %}bg-danger{% endif %} me-3">
                        {% if aluguel.pago %}Pago{% else %}Não Pago{% endif %}
                    </span>
                    {% if not aluguel.pago %}
                    <a href="{% url 'registrar_pagamento' aluguel.id %}" class="btn btn-sm btn-primary me-2">Baixa Total</a>
                    <a href="{% url 'registrar_pagamento_parcial' aluguel.id %}" class="btn btn-sm btn-warning">Baixa Parcial</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'cadastrar_aluguel' %}" class="btn btn-success mt-3">Cadastrar Novo Aluguel</a>
    </div>
</div>
{% endblock %}
