{% extends 'core/base.html' %}

{% block title %}Detalhes Financeiros{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">Detalhes Financeiros</div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Casa</th>
                    <th>Aluguel</th>
                    <th>Consumo</th>
                    <th>Total Pago</th>
                    <th>Pendente</th>
                </tr>
            </thead>
            <tbody>
                {% for financeiro in financeiros %}
                <tr>
                    <td>{{ financeiro.aluguel.casa.nome }}</td>
                    <td>R$ {{ financeiro.aluguel.valor_aluguel }}</td>
                    <td>R$ {{ financeiro.aluguel.consumo.valor_total }}</td>
                    <td>R$ {{ financeiro.total_pago }}</td>
                    <td>R$ {{ financeiro.pendente }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
