{% extends 'base.html' %}

{% block content %}
<h2>Detalhes Financeiros</h2>
<table class="table">
    <thead>
        <tr>
            <th>Casa</th>
            <th>Total a Pagar</th>
            <th>Total Pago</th>
            <th>Pendências</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for financeiro in financeiros %}
        <tr>
            <td>{{ financeiro.casa.nome }}</td>
            <td>R$ {{ financeiro.total_a_pagar }}</td>
            <td>R$ {{ financeiro.total_pago }}</td>
            <td>R$ {{ financeiro.pendencias }}</td>
            <td>
                <a href="{% url 'registrar_pagamento' financeiro.id %}" class="btn btn-primary">Registrar Pagamento</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
