{% extends 'base.html' %}

{% block title %}Casas Cadastradas{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">Casas Cadastradas</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for casa in casas %}
                <tr>
                    <td>{{ casa.nome }}</td>
                    <td>{{ casa.endereco }}</td>
                    <td class="d-flex gap-2">
                        <a href="{% url 'editar_casa' casa.id %}" class="btn btn-sm btn-success">Editar</a>

                        <form method="post" action="{% url 'excluir_casa' casa.id %}" onsubmit="return confirm('Tem certeza que deseja excluir esta casa?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'cadastrar_casa' %}" class="btn btn-success mt-3">Cadastrar Nova Casa</a>
    </div>
</div>
{% endblock %}
